:root {
  --color-main: #0075ff;
  --color-secundary: #daeef5;
  --text-secundary: #888;
  --padding-container: 3.6rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px*/
}

body {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 144rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.parrafo {
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logo img {
  cursor: pointer;
}

.btn {
  border: none;
  border-radius: 0.4rem;
  background-color: var(--color-main);
  display: inline-block;
  padding: 0.6rem 2.4rem;
  width: 100%;
  font-size: 1.6rem;
  color: #fff;
  border: solid 1px var(--color-main);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #fff;
  color: var(--color-main);
  transform: scale(1.03);
}

.homePage {
  padding: 8.7rem var(--padding-container) 4.1rem;
}

/* ------------------------- Header ------------------------------- */

header {
  background-color: var(--color-secundary);
  width: 100%;
  max-width: 144rem;
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem var(--padding-container);
  position: fixed;
}

.nav {
  display: flex;
}

.nav li:not(:last-child) {
  margin-right: 1rem;
}

/*-------------------------- Footer ------------------------*/

footer {
  padding: 2.5rem var(--padding-container);
  background: var(--color-secundary);
}

.footer {
  display: flex;
}

.footer .footer__info {
  flex: 1 1 70%;
  max-width: 70%;
  border-right: 1px solid var(--text-secundary);
}

.footer .footer__info ul {
  display: flex;
  flex-wrap: wrap;
}

.footer .footer__info ul li {
  padding: 0.7rem;
  font-size: 1.3rem;
}

.footer .footer__info ul li a {
  color: #000;
}

.footer .footer__info ul li a:hover {
  text-decoration: underline;
  color: var(--text-secundary);
}

.footer .footer__reserved {
  padding-left: 1rem;
  flex: 1 1 30%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .footer__reserved span {
  color: var(--color-main);
  font-size: 4rem;
  font-weight: bold;
}

.footer .footer__reserved p {
  font-size: 1.3rem;
}

.footer .footer__list ul li {
  width: calc(100% / 6);
  line-height: 1;
}

/* --------------------------- Login --------------------------- */
.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-secundary);
}

.login-container {
  height: 55rem;
  margin: 0 auto;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
}

.login-info-container {
  flex: 1 1 50%;

  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container {
  padding: 2rem;
  flex: 1 1 50%;
  max-width: 50%;
  background-color: rgba(24, 14, 14, 0.164);
}

.form {
  width: 70%;
  margin: 2rem 0;
}

.inputLogin {
  font-size: 1.5rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.parrafo {
  font-size: 1.3rem;
}

.span {
  color: var(--text-secundary);
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

/* --------------------------- Media querys ------------------------ */
@media (max-width: 1024px) {
  .footer .footer__list ul li {
    width: calc(100% / 4);
  }
  .login-container {
    width: 80%;
  }
  .login-info-container {
    flex: 1 1 75%;
    max-width: 75%;
    border-radius: 5px;
  }

  .image-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column-reverse;
  }
  .footer .footer__info {
    flex: 1 1 100%;
    max-width: 100%;
    border-top: 1px solid var(--text-secundary);
    border-right: none;
  }
  .footer .footer__reserved {
    flex: 1 1 100%;
    max-width: 100%;
    padding-left: 0;
  }
}

@media (max-width: 576px) {
  .footer .footer__list ul li {
    width: calc(100% / 3);
  }
  .login-info-container {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
